<!-- _includes/sidebar.html -->
<aside class="sidebar">
  <div class="logo">0x4B1T</div>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about' | relative_url }}">About</a>
    <a href="{{ '/article' | relative_url }}">Articles</a>
    <a href="{{ '/hackries' | relative_url }}">Hackries</a>
    <a href="{{ '/writeup' | relative_url }}">Writeups</a>
    <a href="{{ '/projects' | relative_url }}">Projects</a>
    <a href="https://www.buymeacoffee.com/kris3c" target="_blank">☕ Buy Me a Coffee</a>
  </nav>
</aside>
